<div class="grid-container">
  <!-- Banner / Slogan -->
  <div class="md:col-span-5 items-center">
    <p>What's the best time for a meeting? Let's find out! 🚀</p>
  </div>

  <!-- Date Picker -->
  <div class="flex-col md:col-span-3 md:row-span-2 md:w-4/5">
    <p class="font-bold text-primary">Select a date</p>
    <app-date-picker
      [control]="dateControl"
    />
  </div>

  <!-- Location Picker -->

  <!-- LocationsContainer -->
  <div class="flex-col md:col-span-2 md:row-span-3">
    <p class="font-bold text-primary">Selected Locations</p>
    <app-locations-container></app-locations-container>
  </div>
</div>
